body {
	background-color: #ccc;
	width: 75%;
	min-width:720px;
	max-width: 1980px;
	margin: 0 auto;
	font-family: calibri;
}

.hidden {
	display: none;
}

/* START OF NAVBAR */

.navBar{
	z-index:10;
	position: fixed;
	top: 0;
	width: 75%;
	min-width:720px;
	max-width: 1980px;
	height: 35px;
	background-color: #286090;
}

#navLinkID {
	color: white;
}

@media screen and (max-width: 1079px) {
	#lMainMenu {
		width: 49.8%!important;
	}
	#rMainMenu {
		width: 49.8%!important;
	}
	#sMainMenu {
		width: 100%!important;
	}
	.profileImage {
		width: 30px!important;
	}
	.logo {
		max-height: 30px!important;
	}
	#listSearch {
		float: left!important;
	}
	.advertHeight {
		display: none;
	}
	
	.newsContainer {
		width: 98%!important;
	}
	
	#footer {
		position: relative!important;
		height: 80px!important;
		width: 100%!important;
	}
	
	#footerImage {
		display:none!important;
	}
	
	#main {
		margin-bottom: 0px!important;
	}
	
	.navBar {
		height: 60px!important;
	}
}

@media screen and (max-width: 800px) {
	#sidebar {
		display: none;
	}
}


#mainMenu{
	font-size: 1.2em;
	position: relative;
	width: 100%;
	margin: 0 0 0 -40px;
}

#mainMenu li{
	position: relative;
	background-color: #286090;
	margin: auto auto;
	display: block;
	width: 33%;
	height: 30px;
	text-align: center;
}

#lMainMenu {
	cursor: pointer;
	float: left;
	border-right: 1px solid white;
}

#rMainMenu, #sMainMenu{
	cursor: pointer;
	float: right;
	border-left: 1px solid white;
}

.logo {
	max-height: 55px;
	float: left;
}

.profileImage {
	float: right;
	max-width: 40px;
	max-height: 33px;
}

.menuArrow {
	height: 12px;
}

#accountMenuDD {
	z-index: 3;
	position: absolute;
	top: 30px;
	right: 0px;
}

#mainMenuDD {
	z-index: 3;
	position: absolute;
	top: 30px;
	left: 0;
}

.navDD {
	width: 100%;
}

.navDD a {
	color: white;
	background-color:  #286090;
	border: 1px white solid;
	display: block;
	float: left;
	width: 100%;
	text-decoration: none;
}

.navDD a:visited, .navDD a:link, .navDD a:hover {
	color: white;
}

.navDD a:hover, .navDD li:hover {
	color: white;
	background-color: #888888;
}

input[name="mainSearch"] {
	width: 65%;
	height: 30px;
}

#searchResults {
	display: none;
	z-index: 50;
	position: absolute;
	left: 5px;
	width: 90%;
	height: 200px;
	background: white;
	overflow: hidden;
	overflow-y: auto;
}

#msearch {
	width: 30%;
	height: 30px;
	border-radius: 5px;
	color: white;
	background-color: black;
	border: white solid 1px;
}

/*END OF NAVBAR */


/* FOOTER */

#footer{
	position: fixed;
	bottom:0;
	z-index: 10;
	width: 75%;
	min-width: 720px;
	max-width: 1980px;
	height: 20px;
	background-color: #286090;
	color: white;
	transition: all 1s;
}

#footerImage{
	float: left;
	height:20px;
}

#footerContent {
	width: 50%;
	margin: 20px auto 0 auto;
}

#footerContent li{
	display: block;
}

.smIcon {
	width: 30px;
	float: right;
	margin: 0 5px;
}

/* END OF FOOTER */


/* START OF SIDE BAR */


#sidebar .sidebarContainer {
	z-index: 4;
	left: -170px;
	border: solid 1px black;
	background-color: white;
	border-radius: 0 10px 10px 0;
	color: red;
	position: fixed;
	width: 200px;
	height: 27%;
	transition: all 1s;
	box-shadow: -2px 2px 5px #888888;
	overflow: hidden;
}

.sidebar {
	width: 175px;
}

#sidebar  .sidebartext{
	cursor: pointer;
	position: relative;
	right: -85px;
	top: 50px;
	text-align: center;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg); 
}

#sidebar .icon {
	position: relative;
	margin-left:15px;
	margin-top: 5px;
	float: left;
}

#sidebar button {
	top: -20px;
}

#sb1 {
	top: 15%;
}

#sb2 {
	top: 40%;
}

#sb3 {
	top: 65%;
}

#accBtn1 {
	background-color: white;
	color: black;
}

#accBtn2 {
	background-color: #ccc;
}

#accBtn3 {
	background-color: yellow;
}

/* END OF SIDE BAR */


/* START OF SLIDESHOW */

#slideshow {
	position: relative;
	width: 75%;
	height: 400px;
	overflow: hidden;
	margin: 2px 0;
}

.slideshow {
	max-width: 1000px;
	width: 100%;
	height: 100%;
	max-height: 400px;
	margin: 0 auto;
	position:relative;
	display: none;
	-webkit-animation: animateright 3s;
	animation: animateright 3s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}


.ssButton {
	cursor: pointer;
	font-size: 2em;
	position: absolute;
	top: 48%;
	z-index: 2;
	text-align: center;
	vertical-align: center;
	color: white;
	border: solid 1px white;
	background-color: black;
	width: 18px;
	border-radius: 5px;
	opacity: 0.5;
}

.ssButton:hover {
	opacity: 1;
}

.ssRight {
	right: 0;
}

.ssSound {
	cursor: pointer;
	position: absolute;
	right: 5px;
	bottom: 5px;
	font-size: 1.3em;
	z-index: 2;
	text-align: center;
	vertical-align: center;
	color: white;
	border: solid 1px white;
	background-color: black;
	width: 20px;
	height: 25px;
	border-radius: 5px;
}

.ssRepeat {
	cursor: pointer;
	position: absolute;
	left: 48%;
	top: 48%;
	font-size: 2em;
	z-index: 2;
	text-align: center;
	vertical-align: center;
	color: white;
	border: solid 1px white;
	background-color: black;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	opacity: 0.5;
}

#ssTime {
	cursor: pointer;
	position: absolute;
	right: 30px;
	bottom: 5px;
	font-size: 0.8em;
	z-index: 2;
	text-align: center;
	vertical-align: center;
	color: white;
	border: solid 1px white;
	background-color: black;
	width: 100px;
	border-radius: 5px;
}

.ssPause {
	cursor: pointer;
	position: absolute;
	right: 135px;
	bottom: 5px;
	font-size: 0.7em;
	z-index: 2;
	text-align: center;
	vertical-align: center;
	color: white;
	border: solid 1px white;
	background-color: black;
	width: 16px;
	height: 16px;
	border-radius: 5px;
}

#ssPause {

font-size: 0.7em;	
}

.toggleSS {
	cursor: pointer;
	position: absolute;
	bottom: 5px;
	left: 20px;
	z-index: 3;
	font-size: 0.8em;
	text-align: center;
	color: white;
	background-color: black;
	width: 35px;
	border: solid 1px white;
	border-radius: 20px;
}

#twitterWidget {
    width:25%;
	float: right;
}
  
/* END OF SLIDESHOW */


/* START OF ADVERT */

.advertHeight {
	float: right;
	width: 25%;
	height: 800px;
}

.advertWidth {
	width: 100%;
	height: 150px;
	background: white;
}

.advert {
	width: 100%;
	height: 100%;
	display: none;
	-webkit-animation: animateright 3s;
	animation: animateright 3s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}

/* END OF ADVERT */


/* START OF MAIN CONTENT STYLING */

#main{
	position: relative;
	background-color:white;
	border-radius: 5px;
	width: 100%;
	margin: 40px auto 20px auto;
	padding: 1px 0;
	transition: 1s;
}

.content {
	position: relative;
	width: 98%;
	height: 100%;
	margin: 5px 0.5%;
	padding: 3px;
	border: 2px solid grey;
	border-radius: 5px;
	background: #ccc;
}

.content a{
	color: green;
	text-decoration: none;
}

.content a:visited {
	color: purple;
	text-decoration: none;
}

.content a:hover{
	text-decoration: underline;
}

.shadow {
	box-shadow: -2px 2px 5px #888888;
}

/* END OF MAIN CONTENT STYLING */

/* START OF HOMEPAGE NEWS STYLE */

.newsContainer {
	width: 73%;
	height: 300px;
	margin: 5px 1%;
	padding: 1px;
	background: #fff;
	border: 2px solid grey;
	border-radius: 5px;
	transition: height 1s;
	-webkit-transition: height 1s;
}

.newsContainer h2 {
	margin-left: 20px;
	color: #286090;
}

.newsContent {
	position: relative;
	float: left;
	margin: 0 5px;
	height: 75%;
	max-height: 600px;
	width: 75%;
	border: 1px solid grey;
	border-radius: 2.5px;
	overflow: hidden;
	transition: height 1s;
	-webkit-transition: height 1s;
}

.newsContent table {
	overflow: hidden;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	text-align: left;
	vertical-align: top;
}

.newsContent table th, .newsContent table td {
	padding: 5px;
	border: black 1px solid;
	text-align: left;
	vertical-align: top;
	font-size: 0.75em;
}

.newsContent table th {
	background: #ccc;
}

.newsInfo {
	height: 30px;
}

.newsRM {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 50px;
	border: none;
	transition: all 3s;
	-webkit-transition: all 3s;
	background: grey; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(bottom,rgba(255,0,0,0),rgba(0,51,204,1)); /*Safari 5.1-6*/
	background: -o-linear-gradient(bottom,rgba(255,0,0,0),rgba(0,51,204,1)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom,rgba(255,0,0,0),rgba(0,51,204,1)); /*Fx 3.6-15*/
	background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,51,204,1)); /*Standard*/
} 

.newsControls{
	max-width: 300px;
	width: 20%;
	margin: 0 5px 0 auto;
	float: right;
}

.newsControls img{
	width: 100%;
	height: 120px;
	border-radius: 5px;
}

.newsControl {
	font-size: 0.65em;
	width: 100%;
	height: 20px;
	background-color: #ccc;
	border-left: none;
	border-right: none;
	border-top: #000099 1px solid;
	border-bottom: #000099 1px solid;
	overflow: hidden;
}

/* END OF HOMEPAGE NEWS STYLE */


/* START OF DASHBOARD STYLE */
.dashProfile {
	width: 95%;
	height: 150px;
	margin: 0 auto;
}

.profileWelcome {
	width: 50%;
	margin: 0;
	
}

.profileSettings {
	background: #cccccc;
	border: 1px solid  #286090;
	float: right;
	width: 50%;
	margin: 0;
}

#profileImage {
	max-width: 150px; 
	max-height:200px;
	float: right;
	background: #888888;
}

#dashContainer {
	position: relative;
	margin: 0 auto;
	width: 98%;
	padding: 5px 0;
	background-color: #fff;
	border-radius: 5px;
}

#exitSign {
	width: 30px;
	float: right;
	transition: all 0.5s;
}

#exitSign:hover {
	background: #cccccc;
}

#dashHowToLink {
	margin: 1% 0;
}

#dashHowToBK {
	display: none;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.5;
}

#dashHowTo {
	display: none;
	position: fixed;
	z-index: 101;
	width: 75%;
	height: 80%;
	top: 10%;
	left: 12.5%;
	background: white;
	color: #286090;
	opacity: 1;
}

#dashHowTo h2 {
	text-align: center;
}

#dashHowToContent {
	margin: 1% 0;
	position: relative;
	width: 98%;
	height: 75%;
	overflow: hidden;
	overflow-y: auto;
}

#dashHowToContent button {
	font-size: 1.2em;
	display: inline;
	background-color: #286090;
	border: 1px solid #fff;
	color: white;
	z-index: 2;
	height: 50px;
	width: 200px;
	list-style-type: none;
	transition: all 1s;
	-webkit-transition: all 1s;
}

#dashMenu {
	width: 98%;
	text-align: center;
	margin: 0 auto;
	background-color: #286090;
	display: -webkit-flex;
	display: flex;
}

.dashButton {
	font-size: 1.2em;
	display: inline;
	background-color: #286090;
	border: 1px solid #fff;
	color: white;
	z-index: 2;
	height: 50px;
	width: 16.7%;
	transition: all 1s;
	-webkit-transition: all 1s;
}

#dashMenu button:hover {
	background-color: #888888;
}

.dashMenuSelected {
	border-radius: 25px 25px 0 0;
	color: #000000!important;
	background-color: #ffffff!important;
}

#dashContentContainer {
	display: none;
	width: 98%;
	height: 700px;
	margin: 0 auto  0 auto;
	border-left: 2px solid #286090;
	border-right: 2px solid #286090;
	border-bottom: 2px solid #286090;
}

.dashSideBar {
	display: none;
	background-color: #888888;
	width: 30%;
	height: 700px;
	float: left;
	overflow: hidden;
	overflow-y: auto;
}

.dashSideBar button{
	background-color: #ffffff;
	width: 100%;
	height: 75px;
	transition: all 1s;
	-webkit-transition: all 1s;
}

.dashSideBar button:hover {
	background-color: #888888;
}

#dashContent {
	position: relative;
	width: 70%;
	height: 700px;
	background-color: #ffffff;
	overflow: hidden;
	overflow-y: auto;
}
#dashContent table{
	border-collapse: collapse;
	width: 90%;
	margin: 5px auto;
}	

#dashContent table td {
	min-width: 40px;
	border: 1px solid black;
}

.dashDeadlineButtons {
	position: relative;
	width: 100%;
	height: 60px;
	display: inline;
}

.dashDeadlineButtons button, .dashDeadlineNewFile button, .dashDeadlineUploadSelectFile button {
	float: left;
	font-size: 1.2em;
	background-color: #286090;
	border: 1px solid #ffffff;
	color: white;
	height: 50px;
	width: 50%;
	min-width: 200px;
	margin: auto auto;
}

.dashDeadlineForm {
	margin: 5px;
}

.dashDeadlineForm input, .dashDeadlineForm select{
	width: 75%;
}

.dashFile select, .dashFile input {
	width: 75%;
	margin: 0 auto;
}

.projectQuick {
	height: 150px;
	width: 100%;
	background-color: #cccccc;
	display: flex;
	display: -webkit-flex;
	position: absolute;
	top: 0;
}

.projectQuick div {
	width: 25%;
	border: 1px solid #ffffff;
}

.projectMembers {
	position: relative;
	overflow: hidden;
	overflow-y: auto;
}

.projectMemberRow, .projectSettingRow {
	width: 100%!important;
	display: flex;
	display: -webkit-flex;
}

.projectSettingRow {
	margin-top: 15px;	
}

.projectMembers *, .projectSettings * {
	color: black;
	text-align: center;
	height: 25px;
	border: 1px #286090 solid;
	background-color: #ffffff;
}

.projectMember {
	width: 70%;
}

.projectSettings * {
	background-color: #ffffff;
	border: 1px solid #286090;
}

.projectSetting  {
	width: 70%;
}

a.projectMakeAdmin, a.projectSettingControl {
	color: black;
}

a.projectMakeAdmin:hover, a.projectSettingControl:hover {
	text-decoration: none;
}

.projectMakeAdmin, .projectSettingControl {
	width: 30%;
}

.projectNew button {
	margin-top: 25px;
	width: 100%;
	border: 1px #286090 solid;
	background-color: #ffffff;
	text-align: center;
	height: 30px;
}

.projectStats p {
	font-size: 0.8em;
	text-align: center;
}

.projectMenuButtons {
	width: 100%;
	background-color: #286090;
	display: flex;
	display: -webkit-flex;
	position: absolute;
	top: 150px;
}

.projectMenuButtons button {
	color: white;
	background-color: #286090;
	width: 20%;
	height: 35px;
	margin: 0;
	border: 1px white solid;
	transition: all 1s;
	-webkit-transition: all 1s;
}

.projectMenuButtons button:hover {
	background-color: #666666;
}

.projectMenuSelected {
	border-radius: 25px 25px 0 0;
	color: #000000!important;
	background-color: #ffffff!important;
}

.projectContent {
	margin-top: 190px;
	height: 510px;
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
}

#projectConfirmAdminBK {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.5;
}

#projectConfirmAdmin {
	z-index: 101;
	position: fixed;
	width: 50%;
	height: 50%;
	background: white;
	top: 25%;
	left: 25%;
	overflow: hidden;
	overflow-y: auto;
	text-align: center;
}

#projectConfirmSettingsBK {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.5;
}

#projectConfirmSettings {
	z-index: 101;
	position: fixed;
	width: 50%;
	height: 50%;
	background: white;
	top: 25%;
	left: 25%;
	overflow: hidden;
	overflow-y: auto;
	text-align: center;
}
/* END OF DASHBOARD STYLE */


/* START OF NEWS PAGE CONTOLS */
#newsPageControls {
	width: 73%;
	height: 30px;
	margin: 5px 1%;
	padding: 0px 3px;
	background: #fff;
	border: 2px solid grey;
	border-radius: 5px;
}
 #newsSearch {
	 width: 58%;
	 height: 30px;
 }
 
#nsearch {
	width: 40%;
	height: 28px;
	border-radius: 5px;
	color: white;
	background-color: black;
	border: white solid 1px;
}

#sort {
	width: 25%;
	height: 28px;
	border-radius: 5px;
	color: white;
	background-color: black;
	border: white solid 1px;
}

#newsPageControls form {
	width: 50%;
	float: left;
}

#newsOrderByContainer select {
	width: 32%;
	height: 30px;
}

#newsOrderByContainer input {
	width: 30%;
}
/* END OF NEWS PAGE CONTROLS */

.sidenote {
	font-size: 0.8em;
}

/*contact us page*/

input[name="phoneNumber"], input[name="email"], input[name="firstName"], input[name="lastName"], textarea[name="message"]{
	width:70%;
	
}


.contactform {
	margin:1% auto;
	width:44%;
	text-align:center;
	height:100%;
	border: 2px solid;
	border-color: white;
	 
} 
#googlemaps{
	width:75%; 
	overflow: hidden;
}


/* CSS for Resources Page */

.resourceLink {
    /* height: 102px; */
    width: 100px;
    padding: 57px;
    border: solid 1px #544f4f;
    justify-content: center;
    margin: 60px auto;
    display: flex;
    text-align: center;
    background-color: #286090; 
    text-decoration: none;
    background-image: url("images/books.jpg");
     background-size: cover;
}

.resourceLink a {
	color: white;
}

.resourceLink a:visited {
	color: white;
}

.resourceLink a:hover {
	color: white;
}


/* CSS for Courses Page */

.course-title  {
	color: white !important;
    background-color: #286090;
    padding: 7px;
    margin: 0px;
    cursor: pointer;
    border-bottom: black solid 1px;
    border-top: black solid 1px;
}

.module-title:hover {
	background-color: #4879a2;

}

.module-title-toggle { /* This is for the jQuery to toggle title colour */
	background-color: #4879a2;

}

.course {

}

.course-main {
    background-color: #b4c8d9;
    border: solid black 2px;
    margin: 35px;
    cursor: pointer;
}

.sub-cat1 {
    position: relative;
    right: 20px;
    list-style-type: none;
    border: solid black 1px;
    margin: 1px;
}

.sub-cat1 a {
	color: #ffffff !important;
    font-weight: bold;
    position: relative;
    left: 15px;
    
}

.sub-cat2 {
    position: relative;
    right: 20px;
    list-style-type: none;
    border: solid black 1px;
    margin: 1px;
}

.sub-cat2 a {
	color: #04579c !important;
    font-weight: bold;
    position: relative;
    left: 15px;
    
}

/* CSS for Resources Page */

.resourceLinkNew {
    color: #095ba5 !important;
    text-decoration: none !important;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    height: 135px;
    width: 199px;
    padding: 0px;
    margin: -30px 6px;
    margin-bottom: 47px;
    border: solid rgba(150, 150, 150, 0.51) 1px;
    font-size: 8px;
    text-align: center;
    background-color: #ececec;
    cursor: pointer;
    border-radius: 5px;
}

.resourceLinkHead {
	margin: 0px;
    position: relative;
    padding: 0px;
    bottom: 10px;
}

.recourceLinkThumb {
    height: 105px;
    /* min-height: 100%; */
    position: relative;
    width: 193px;
    left: 3px;
    bottom: 4px;
    margin: 0px;
}

.resourceLinkNew:hover {
    box-shadow: 0px 0px 7px 0px #737373;
    transition: 0.2s;
    border: solid rgb(150, 150, 150) 1px;
}

/* CSS for Resources Page END */

