body {
	background-color: #ccc;
	width: 75%;
	min-width: 820px;
	max-width: 1980px;
	margin: 80px auto 20px auto;
	font-family: calibri;
}

/* START OF NAVBAR */

.navbar{
	z-index:10;
	position: fixed;
	top: 0;
	width: 75%;
	min-width: 820px;
	max-width: 1980px;
	height: 80px;
	background-color: white;
}

#dropdown{
	width: 100%;
	margin: 0 0 0 -40px;
}

#dropdown .logo{
	width: 5%;
}

#dropdown .logo:hover{
	background-color: white;
}

#dropdown img{
	width: 45px;
	height: 35px;
}

#dropdown li{
	background-color: white;
	margin: 0 auto;
	display: block;
	float: left;
	width: 15%;
	height: 30px;
	text-align: center;
}


#dropdown .search {
	margin: 0 auto;
	width: 25%;
	min-width: 227px;
	float: right;
}

#dropdown a{
	color: black;
	text-decoration: none;
	font-size:1.2em;
	width: 100%;
	height: 100%;
}

#dropdown li:hover{
	transition: 3s;
	background-color: #333;
}

.accountBar {
	z-index:10;
	position: fixed;
	top: 34px;
	width: 75%;
	min-width: 820px;
	max-width: 1980px;
	height: 40px;
	margin: 0 0 0 0;
	background-color: white;
}

.accountBar li {
	width: 15%;
	float:left;
	margin: -5px auto;
	display: block;
	color: black;
	text-align: center;
}

.accountBar img {
	width: 25px;
}

.accountBar li:hover{
	transition: 3s;
	background-color: #333;
}

.accountBar .profileImage {
	width: 5%;
}

.accountBar .profileImage:hover{
	background-color: white;
}

#fsearch {
	border-radius: 5px;
	color: white;
	background-color: black;
	border: white solid 1px;
}

#fsearch:hover {
	transition: 3s;
	background-color: white;
	color: black;
}

/*END OF NAVBAR */


/* FOOTER */

#footer{
	position: fixed;
	bottom:0;
	z-index: 10;
	width: 75%;
	min-width: 820px;
	max-width: 1980px;
	height: 20px;
	background-color: white;
	color: black;
}

#footerImage{
	float: left;
	height:20px;
}

#footerContent {
	width: 50%;
	margin: 20px auto 0 auto;
}

#footerContent li{
	display: block;
}

.smIcon {
	width: 30px;
	float: right;
	margin: 0 5px;
}

/* END OF FOOTER */


/* START OF SIDE BAR */

#sidebar div {
	z-index: 2;
	border: solid 1px black;
	background-color: white;
	border-radius: 10px;
	color: red;
	position: fixed;
	width: 200px;
	height: 200px;
}

#sidebar  .sidebartext{
	cursor: pointer;
	position: relative;
	right: -85px;
	top: 50px;
	text-align: center;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg); 
}

#sidebar .icon {
	position: relative;
	margin-left:15px;
	margin-top: 5px;
	float: left;
}

#sidebar .icon img{
	width: 15px;
	height: 15px;
}

#sidebar #sb1 {
	left: -170px;
	box-shadow: 3px 2px 5px #888888;
}

#sidebar #sb2 {
	left: -170px;
	top: 270px;
	box-shadow: 2px 2px 5px #888888;
}

#sidebar #sb3 {
	left: -170px;
	top: 442px;
	box-shadow: 2px 2px 5px #888888;
}

#accBtn1 {
	background-color: white;
	color: black;
}

#accBtn2 {
	background-color: #ccc;
}

#accBtn3 {
	background-color: yellow;
}

/* END OF SIDE BAR */



/* START OF SLIDESHOW */

#slideshow {
	position: relative;
	width: 75%;
	height: 500px;
	overflow: hidden;
	margin: 2px 0;
}

.slideshow {
	width: 100%;
	height: 500px;
	position:relative;
-webkit-animation:animatetop 1s;
animation:animatetop 1s;}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}


.slideshow {
	display: none;
}

.ssLeft {
	cursor: pointer;
	font-size: 2em;
	position: absolute;
	z-index: 3;
	text-align: center;
	vertical-align: center;
	color: white;
	border: solid 1px white;
	background-color: black;
	width: 18px;
	border-radius: 5px;
	margin-top: -250px;
}

.ssRight {
	cursor: pointer;
	font-size: 2em;
	position: absolute;
	z-index: 3;
	text-align: center;
	vertical-align: center;
	color: white;
	background-color: black;
	width: 18px;
	border: solid 1px white;
	border-radius: 5px;
	margin-left: 98.2%;
	margin-top: -250px;
}

.toggleSS {
	cursor: pointer;
	position: relative;
	margin-top: -30px;
	margin-left: 30px;
	z-index: 3;
	font-size: 1em;
	text-align: center;
	color: white;
	background-color: black;
	width: 50px;
	border: solid 1px white;
	border-radius: 20px;
}

/* END OF SLIDESHOW */


/* START OF MAIN CONTENT STYLING */
#main{
	background-color:white;
	width: 100%;
	margin: 80px auto 20px auto;
	padding: 1px 0 ;
}

.content a{
	color: green;
	background: #bbb;
	text-decoration: none;
}

.content a:visited {
	color: purple;
	background: #bbb;
	text-decoration: none;
}

.content a:hover{
	text-decoration: underline;
}


.content {
	width: 98%;
	margin: 0 1%;
	padding: 3px;
	border: 2px solid grey;
	border-radius: 5px;
	box-shadow: -2px 2px 5px #888888;
}

 #twitterwidget {
    width:25%;
	float: right;
  }


